<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>XXX后台</title>
	{{! others style}}
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	{{! self style}}
	<link rel="stylesheet" type="text/css" href="/style/layout.css">
</head>
<body>
	<header>
        <div class="header-1">
            <div class='logo'>
                <img src="/img/logo.png" height="33" width="83"/>
                <span>天天易后台操作系统</span>
            </div>
            <div class="header-right">
                <ul>
                    <li><img src="/img/back.png" height="21" width="20"></li>
                    <li><img src="/img/go.png" height="21" width="21"/></li>
                    <li><img src="/img/refresh.png" height="21" width="20"/></li>
                    <li><img src="/img/close.png" height="21" width="20"/></li>
                </ul>
            </div>
        <div>
        <div class="header-2">

        </div>
	</header>

	<nav>
		<div class="profile">
            <table>
                <tr>
                    <td rowspan="3" width="179"><img src="/img/manger-1.png" width="100" height="100"></td>
                    <td width="179"><img src="/img/manger-2.png" height="19" width="17"/>张三三</td>
                </tr>
                <tr>
                    <td width="179"><img src="/img/manger-3.png" height="16" width="17"/>新消息</td>
                </tr>
                <tr>
                    <td width="179"><img src="/img/manger-4.png" height="17" width="15"/>邮箱</td>
                </tr>
            </table>
		</div>

		<div class="nav-list">
            <div class="function-left">
                <div class="function-list">
                    <img src="/img/icon-1.png" height="30" width="30"/>
                    <span>系统管理</span>
                </div>
                <div class="function-list">
                    <img src="/img/icon-2.png" height="31" width="25"/>
                    <span>用户管理</span>
                </div>
                <div class="function-list">
                    <img src="/img/icon-3.png" height="30" width="30"/>
                    <span>员工管理</span>
                </div>
                <div class="function-list">
                    <img src="/img/icon-4.png" height="31" width="30"/>
                    <span>公章管理</span>
                </div>
                <div class="function-list">
                    <img src="/img/icon-5.png" height="37" width="30"/>
                    <span>审核管理</span>
                </div>
                <div class="function-list">
                    <img src="/img/icon-6.png" height="22" width="30"/>
                    <span>车辆管理</span>
                </div>
                <div class="function-list">
                    <img src="/img/icon-7.png" height="27" width="30"/>
                    <span>出差管理</span>
                </div>
                <div class="function-list">
                    <img src="/img/icon-8.png" height="31" width="30"/>
                    <span>请假管理</span>
                </div>
                <div class="function-list">
                    <img src="/img/icon-9.png" height="29" width="24"/>
                    <span>公文管理</span>
                </div>
            </div>
        </div>
        <div class="function-right">

        </div>
		</div>
	</nav>

	<main>
		{{{body}}}
	</main>
	{{! link lib}}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
	{{! self script}}
	<script type="text/javascript" src="/script/layoutHelper.js"></script>
	<script type="text/javascript" src="/script/main.js"></script>
</body>
</html>

