/*header样式*/
*{
    margin: 0px;
    padding: 0px;
}
header {
  height: 64px;
  background-color: gainsboro;
}

header .header-1{
  width: 100%;
  height: 62px;
}
header .logo {
  height: 62px;
  font-size: 20px;
  line-height: 62px;
  padding-left: 20px;
  float: left;
}

header .header-right{
  height: 62px;
  float: right;
}

header ul{
  line-height: 62px;
  list-style: none;
}

header li{
  float: right;
}

header li a{
  display: block;
  padding: 0 20px;
}

header .header-2{
  width: 100%;
  height: 2px;
  background: -webkit-linear-gradient(left,#268bcb,#2bf3d9);
  background: -o-linear-gradient(right,#268bcb,#2bf3d9);
  background: -moz-linear-gradient(right,#268bcb,#2bf3d9);
  background: linear-gradient(to right,#268bcb,#2bf3d9);
}

/*nav样式*/
nav {
  width: 358px;
  float: left;
}
nav .profile {
    width: 100%;
    height: 120px;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    background-color: gainsboro;
}

nav .nav-list{
    width: 100%;
  }
nav .function-left{
    height: 100%;
    width: 50%;
    background: -webkit-linear-gradient(left,#3d4549,#39535f);
    background: -o-linear-gradient(right,#3d4549,#39535f);
    background: -moz-linear-gradient(right,#3d4549,#39535f);
    background: linear-gradient(to right,#3d4549,#39535f);
    float: left;
  }
nav .function-list{
    width: 100%;
    height: 60px;
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
    position: relative;
  }
nav .function-list img{
    position: absolute;
    top: 15px;
    left: 20px;
  }
nav .function-list span{
    position: absolute;
    color: white;
    top: 20px;
    left: 70px;
  }
nav .function-right{
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left,#1590c4,#12b2d5);
    background: -o-linear-gradient(right,#1590c4,#12b2d5);
    background: -moz-linear-gradient(right,#1590c4,#12b2d5);
    background: linear-gradient(to right,#1590c4,#12b2d5);
    float: left;
  }
nav .expand-list{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
    line-height: 60px;
    position: relative;
  }
nav .expand-list span.module-3{
    color: white;
    font-size:16px ;
    position: absolute;
    left: 20px;
  }
nav .expand-list span.arrow{
    width:25px ;
    display: block;
    height: 60px;
    float: right;
  }
nav .expand-list span.arrow.right{
    background: url("../img/arrow-right.png")no-repeat center;
  }
nav .expand-list span.arrow.down{
    background:url("../img/arrow-down.png")no-repeat center;
  }
nav ul{
    list-style: none;
  }
nav li{
    border-bottom: 1px solid lightgrey;
    width: 179px;
    height: 60px;
    line-height: 60px;
}
nav li a{
    color: white;
    display: block;
    height: 60px;
    font-size: 14px;
    text-decoration: none;
    position: relative;
    background: -webkit-linear-gradient(left,#156ba0,#08a0c2);
    background: -o-linear-gradient(right,#156ba0,#08a0c2);
    background: -moz-linear-gradient(right,#156ba0,#08a0c2);
    background: linear-gradient(to right,#156ba0,#08a0c2);
}
nav li a img{
    position: absolute;
    left: 20px;
    top: 28px;
}
nav li a span{
    position: absolute;
    left: 40px;
}



    /*main样式*/
main {
  float: left;
  background-color: white; }

/*nav动画样式*/
nav .function-list:hover,nav .function-list:active{
  background: -webkit-linear-gradient(left,#0e6eb0,#1590c4);
  background: -o-linear-gradient(right,#0e6eb0,#1590c4);
  background: -moz-linear-gradient(right,#0e6eb0,#1590c4);
  background: linear-gradient(to right,#0e6eb0,#1590c4);
}
.active{
    background: -webkit-linear-gradient(left,#0e6eb0,#1590c4);
    background: -o-linear-gradient(right,#0e6eb0,#1590c4);
    background: -moz-linear-gradient(right,#0e6eb0,#1590c4);
    background: linear-gradient(to right,#0e6eb0,#1590c4);
}

