header {
	height: 64px;
	background-color: red;
}

nav {
	width: 358px;
	
	float:left;
	background-color:green;

	.profile {
		width: 100%;
		height: 120px;

		background-color:yellow;
	}
}

main {
	float:left;
	
	background-color:white;
}